<div class="benefit-card{{ (size == 2) ? ' benefit-card--wide' : '' }}">
    <h3 class="benefit-card__title">{{title}}</h3>
    <p class="benefit-card__description">{{description}}</p>
    {# <img class="benefit-card__image" src="{{image.src}}" alt="{{image.alt}}"> #}
</div>