<div class="benefit-card{{ (size == 2) ? ' benefit-card--wide' : '' }}">
    {% if image %}
    <picture class="benefit-card__figure{{ (framed) ? ' benefit-card__figure--bordered' : ' benefit-card__figure--background' }}">
        {# <source class="benefit-card__image" type="image/webp" srcset="pic.webp"> #}
        <img  class="benefit-card__image" src="{{image.src}}" alt="{{image.alt}}">
    </picture>
    {# <figure class="benefit-card__figure{{ (framed) ? ' benefit-card__figure--bordered' : ' benefit-card__figure--background' }}">
        <img class="benefit-card__image" src="{{image.src}}" alt="{{image.alt}}">
    </figure> #}
    {% endif %}
    {% if video %}
    <figure class="benefit-card__figure{{ (framed) ? ' benefit-card__figure--bordered' : ' benefit-card__figure--background' }}">
        <video autoplay loop muted playsinline class="benefit-card__video">
            {% if video.webm %}<source src="{{video.webm}}" type="video/webm">{% endif %}
            {% if video.mp4 %}<source src="{{video.mp4}}" type="video/mp4">{% endif %}
            {% if video.img %}<img src="{{video.img}}" title="Your browser does not support the <video> tag">
            {% else %}Your browser does not support the video tag.{% endif %}
        </video>
    </figure>
    {% endif %}
    <div class="benefit-card__message">
        <h3 class="benefit-card__title">{{title}}</h3>
        <p class="benefit-card__description">{{description}}</p>
    </div>
    
    {# Exceptions #}
    {% if author %}
    <div class="benefit-card__note">
        <div class="benefit-card__label">Artwork by</div>
        <div class="benefit-card__text">{{author}}</div>
    </div>
    {% endif %}
    {% if comparison %}
    <div class="benefit-card__comparison">
        <div>Eevee</div>
        <div>Cycles</div>
    </div>
    {% endif %}
    {% if list %}
    <ul class="benefit-card__list">
        <li>
            <img src="assets/images/icons/psa_transparent.svg">
            Atmosphere
        </li>
        <li>
            <img src="assets/images/icons/pco_transparent.svg">
            Planets
        </li>
        <li>
            <img src="assets/images/icons/pow_transparent.svg">
            Ocean
        </li>
    </ul>
    {% endif %}
</div>

