{% set promo = true %}
{% set discount = 0.30 %}
{% set price_basic = 50 %}
{% set price_studio = 250 %}
{% set price_bundle = 142 %}

<div class="pricing {{ promo ? 'pricing--discount' : '' }} block" id="pricing">

	<h2 class="pricing__title">Pricing</h2>

	<div class="pricing__table"> 

        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <h3>Basic</h3>
                    </th>
                    <th>
                        <h3>Studio</h3>
                    </th>
                    <th>
                        <h3>Enterprise</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td><h4>Users</h4></td>
                        <td><em>1</em></td>
                        <td><em>7</em></td>
                        <td><em class="modified">Custom</em></td>
                    </tr>
                    <tr>
                        <td><h4>Free Updates</h4></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                    </tr>
                    <tr>
                        <td><h4>New Features</h4></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                    </tr>
                    <tr>
                        <td><h4>10 Presets</h4></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                    </tr>
                    <tr>
                        <td><h4><a href="https://discord.gg/wvzPVzj9Vr" target="_blank">Discord community</a></h4></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                    </tr>
                    <tr>
                        <td>
                            <h4>
                                GPL license
                                <div class="tooltip tooltip--left mobileTooltip2">
                                    <img style="height: 16px;" src="assets/images/icons/info.svg" alt="Info icon"/>
                                    <div class="tooltip__content">All artworks made using our addon belong to you and can be used for commercial purposes. No need for attribution. <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">Read more about GPL license</a></div>
                                </div>
                                
                                {# <img src="assets/images/icons/info.svg" alt="Info Icons" style="position: relative; top: 4px;"> #}
                            </h4>
                        </td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                    </tr>
                    <tr>
                        <td><h4>Dedicated Support</h4></td>
                        <td></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                    </tr>
                    <tr>
                        <td><h4>Early access</h4></td>
                        <td></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                    </tr>
                    <tr>
                        <td><h4>Prioritized feature and bug requests</h4></td>
                        <td></td>
                        <td></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                    </tr>
                    <tr>
                        <td><h4>Prioritized Support</h4></td>
                        <td></td>
                        <td></td>
                        <td><img src="assets/images/icons/ir.svg"></img></td>
                    </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <div class="pricing__flex">
                            <h4>Select your plan</h4>
                            <div class="pricing__finfo">
                                <p class="pricing__refund">30 day <a href="https://support.blendermarket.com/article/22-refund-policy" target="_blank">refund policy</a></p>
                                <p class="pricing__contactus">Feel free to <a href="https://www.physicaladdons.com/psa/contacts/" target="_blank">contact us</a> in case you have questions.</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="pricing__flex">
                            <div>
                                <h4>Basic</h4>
                                <p>One time payment</p>
                                <div class="pricing__price">
                                    <div>${{ promo ? price_basic * ( 1 - discount) : price_basic }}</div>
                                    <div>{{ promo ? '$' ~ price_basic : '' }}</div>
                                </div>
                            </div>
                            <div>
                                <a href="https://blendermarket.com/products/physical-open-waters?variant=9045" class="btn btn--primary" target="_blank">Select</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="pricing__flex">
                            <div>
                                <h4>Studio</h4>
                                <p>One time payment</p>
                                <div class="pricing__price">
                                    <div>${{ promo ? price_studio * ( 1 - discount) : price_studio }}</div>
                                    <div>{{ promo ? '$' ~ price_studio : '' }}</div>
                                </div>
                            </div>
                            <div>
                                <a href="https://blendermarket.com/products/physical-open-waters?variant=9047" class="btn btn--primary" target="_blank">Select</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="pricing__flex">
                            <div>
                                <h4>Enterprise</h4>
                                <p>Custom pricing</p>
                            </div>
                            <div>
                                <a href="https://www.physicaladdons.com/psa/contacts/" class="btn btn--secondary" target="_blank">Contact Us</a>
                            </div>
                        </div>
                        
                    </td>
                </tr>
                <tr class="discountRow">
                    <td colspan="4">
                        <h2>30% Off Using Code <em>CYBER</em></h2>
                    </td>
                </tr>
                
            </tfoot>
        </table> 

        {#
        Commented out till we fix this issue: https://projects.blender.org/blender/blender/issues/112952
        <a class="demoRowOutside" target="_blank" href="https://blendermarket.com/products/physical-starlight-and-atmosphere">
            Try Demo version for 5$
            <span class="tooltip tooltip--left">
                <img src="assets/images/icons/info-white.svg" alt="Info icon">
                <div class="tooltip__content">
                    + Pay only the difference when upgrading<br>
                    + No commercial or personal licence<br>
                    + Control only sun rotation<br>
                    + Earth preset only
                </div>
            </span>
        </a> #}

	</div>

    <div class="pricing__bundle">
        <h2 class="pricing__subtitle">Bundle</h2>
         {% include '../../partials/bundle/bundle.twig' with {'class': 'pricing__psapco'} %}
    </div>
</div>

{% set packs = [
	{
		'name': 'Basic',
		'price': {
            'old': '',
            'new': price_basic
        },
        'description': 'One time payment',
        'btn': {
            'title': 'Select',
            'link': 'https://blendermarket.com/products/physical-open-waters?variant=9045',
            'type': 'btn--primary'
        },
        'features': [
            'Single user',
            'Free Updates',
            'New Features',
            '10 Presets',
            {
                'title': 'Discord community',
                'link': 'https://discord.gg/wvzPVzj9Vr'
            },
            {
                'title': 'GPL license',
                'description': 'All artworks made using our addon belong to you and can be used for commercial purposes. No need for attribution. <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">Read more about GPL license</a>'
            },
        ]
    },
    {
		'name': 'Studio',
		'price': {
            'old': '',
            'new': price_studio
        },
        'description': 'One time payment',
        'btn': {
            'title': 'Select',
            'link': 'https://blendermarket.com/products/physical-open-waters?variant=9047',
            'type': 'btn--primary'
        },
        'feature_description': 'Same as Basic plus',
        'features': [
            '7 Users in company',
            'Dedicated Support',
            'Early access'
        ]
    },
    {
		'name': 'Enterprise',
        'description': 'Custom pricing',
        'btn': {
            'title': 'Contact Us',
            'link': 'https://www.physicaladdons.com/psa/contacts/'
        },
        'feature_description': 'Same as Studio plus',
        'features': [
            'Unlimited user count',
            'Prioritized feature and bug requests',
            'Priority support'
        ]
    }
    
]%}
<div class="pricing-mobile block">
	<h2 class="pricing-mobile__title">Pricing</h2>
    <div class="pricing-mobile__refund">
        30 day <a href="https://support.blendermarket.com/article/22-refund-policy" target="_blank">refund policy</a>
    </div>
    <div class="pricing-mobile__packs">
        {% for pack in packs %}
        {% include '../../partials/pricing-pack/pricing-pack.twig' with pack %}
        {% endfor %}
    </div>
    {#
    Commented out till we fix https://projects.blender.org/blender/blender/issues/112952
    <a class="demoRowOutside" target="_blank" href="https://blendermarket.com/products/physical-starlight-and-atmosphere">
        Try Demo version for 5$
        <span class="tooltip tooltip--left mobileTooltip3">
            <img src="assets/images/icons/info-white.svg" alt="Info icon">
            <div class="tooltip__content">
                + Pay only the difference when upgrading<br>
                + No commercial or personal licence<br>
                + Control only sun rotation<br>
                + Earth preset only
            </div>
        </span>
    </a> #}

    {% include '../../partials/bundle/bundle.twig' with {'class': 'pricing-mobile__psapco'} %}
</div>