{% set footer_products = [
    { 'name': 'Atmosphere', 'link': 'https://superhivemarket.com/products/physical-atmosphere?ref=875' },
    { 'name': 'Planets', 'link': 'https://blendermarket.com/products/physical-celestial-objects?ref=875' },
    { 'name': 'Ocean', 'link': 'https://blendermarket.com/products/physical-open-waters?ref=875' }
] %}

{% set footer_socials = [
    { 'icon': 'assets/images/icons/discord.svg', 'label': 'Discord', 'link': 'https://discord.gg/wvzPVzj9Vr' },
    { 'icon': 'assets/images/icons/twitter.svg', 'label': 'Twitter / X', 'link': 'https://twitter.com/PhysicalAddons' },
    { 'icon': 'assets/images/icons/instagram.svg', 'label': 'Instagram', 'link': 'https://www.instagram.com/physicaladdons/' },
    { 'icon': 'assets/images/icons/youtube.svg', 'label': 'YouTube', 'link': 'https://www.youtube.com/@physicaladdonscrew' }
] %}

<footer class="footer">
    <div class="footer__top">
        <div class="footer__brand">
            <div class="footer__brand-name">Physical Addons</div>
            <p class="footer__tagline">Physically based lighting, skies, oceans and planets for Blender. Built by artists, driven by real physics.</p>
            <div class="footer__socials">
                {% for social in footer_socials %}
                    <a href="{{ social.link }}" target="_blank" aria-label="{{ social.label }}"><img src="{{ social.icon }}" alt=""></a>
                {% endfor %}
            </div>
        </div>

        <div class="footer__columns">
            <div class="footer__col">
                <h4>Addons</h4>
                {% for product in footer_products %}
                    <a href="{{ product.link }}" target="_blank">{{ product.name }}</a>
                {% endfor %}
                <span class="footer__muted">Coming soon…</span>
            </div>
            <div class="footer__col">
                <h4>Resources</h4>
                <a href="https://www.physicaladdons.com/physical-atmosphere/release-notes/" target="_blank">Release notes</a>
                <a href="https://www.physicaladdons.com/physical-atmosphere/getting-started/" target="_blank">Documentation</a>
                <a href="https://support.blendermarket.com/article/22-refund-policy" target="_blank">Refund policy</a>
            </div>
            <div class="footer__col">
                <h4>Company</h4>
                <a href="https://www.physicaladdons.com/psa/contacts/" target="_blank">Contact us</a>
                <a href="https://discord.gg/wvzPVzj9Vr" target="_blank">Community</a>
                <a href="https://www.youtube.com/watch?v=hLKSudM6BcQ&t=24s" target="_blank">BCON25 Keynote</a>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <span>© 2026 Physical Addons. All rights reserved.</span>
    </div>
</footer>
