<div class="benefit-card{{ (size == 2) ? ' benefit-card--wide' : '' }}{{ (padding) ? ' '~padding : '' }}{{ (background) ? ' benefit-card--background' : '' }}"{% if background %} style="background-image: url('{{background}}')"{% endif %}>
    <h3 class="benefit-card__title">{{title}}</h3>
    <p class="benefit-card__description">{{description}}</p>
    {% if image %}
    <figure class="benefit-card__figure{{ (image.border) ? ' benefit-card__figure--bordered' : '' }}"{{(image.style) ? ' style="'~image.style~'"' : ''}}>
        <img class="benefit-card__image" src="{{image.src}}" alt="{{image.alt}}">
        {% if comparison %}
        <div class="benefit-card__comp1">Eevee</div>
        <div class="benefit-card__comp2">Cycles</div>
        {% endif %}
    </figure>
    {% endif %}
    {% if author %}
    <div class="benefit-card__note">
        <div class="benefit-card__label">Artwork by</div>
        <div class="benefit-card__text">{{author}}</div>
    </div>
    {% endif %}
</div>