 <div class="hero block" id="hero">

    <div class="tabs">
        <div class="label">Our Addons</div>
        {% for tab in tabs %}
            <a class="tab{{ tab.active ? ' active': '' }}" target="_blank" href="{{tab.link}}" >{{tab.title}}</a>
        {% endfor %}
    </div>

    <div class="bigBlock">
        <h1>{{title}}</h1>
        <h2>{{description}}</h2>
        <div class="video">
            <iframe width="560" height="315" src="{{video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <img class="logoWall" src="assets/images/logoWall.svg"></img>
        <img class="logoWall2" src="assets/images/logoWall2.svg"></img>
        {% if notice %}
            <p class="bigBlock__notice">Our products are used by creators from:</p>
        {% endif %}
    </div>

</div>