<div class="pricing-pack">
    <h3 class="pricing-pack__title">{{name}}</h3>
    {% if price %}
    <div class="pricing-pack__price">
        <div>${{ promo ? price.new * ( 1 - discount) : price.new }}</div>
        <div>{{ promo ? '$' ~ price.new : '' }}</div>
    </div>
    {% endif %}
    <p class="pricing-pack__description">{{description}}</p>
    <p class="pricing-pack__featuredescr">{{feature_description}}</p>
    <ul class="pricing-pack__features">
    {% for feature in features %}
        <li class="pricing-pack__feature">
        {% if feature is iterable %}
            {% if feature.link %}
            <a href="{{feature.link}}">{{feature.title}}</a>
            {% elseif feature.description %}
            {{feature.title}}            
            <div class="tooltip tooltip--left mobileTooltip2">
            <img style="height: 16px;" src="assets/images/icons/info.svg" alt="Info icon"/>
            <div class="tooltip__content">{{feature.description}}</div>
            </div>
            {% endif %}
        {% else %}
            {{feature}}
        {% endif %}
        </li>
    {% endfor %}
    </ul>
    <a href="{{btn.link}}" class="btn {{btn.type}}" target="_blank">{{btn.title}}</a>
</div>