{# PA gallery: single source of truth here (12-tile layout). PSA listing uses its own gallery.twig data. #}
{% set gallery_tiles = [
    {
        'modifier': 'c1 r1',
        'image': 'assets/images/gallery/jonas-fornerod/2.webp',
        'alt': 'Artwork by Jonas Fornerod',
        'author': 'Jonas Fornerod',
        'jobtitle': 'Digital artist / Photographer / Graphic Designer',
        'url': 'https://www.artstation.com/jonasfornerod'
    },
    {
        'modifier': 'c2 r1',
        'image': 'assets/images/gallery/lee-petty/1.webp',
        'alt': 'Artwork by Lee Petty',
        'author': 'Lee Petty',
        'jobtitle': 'Art Director, Double Fine Productions',
        'url': 'https://www.artstation.com/lpetty'
    },
    {
        'modifier': 'c3-4 r1',
        'image': 'assets/images/gallery/alexander-lortkipanidze/1.webp',
        'alt': 'Artwork by Alexander Lortkipanidze',
        'author': 'Alexander Lortkipanidze',
        'jobtitle': 'Сoncept designer/3d generalist',
        'url': 'https://www.artstation.com/varzov'
    },
    {
        'modifier': 'c1-2 r2',
        'image': 'assets/images/gallery/andrei-khrutskii/1.webp',
        'alt': 'Artwork by Andrei Khrutskii',
        'author': 'Andrei Khrutskii',
        'jobtitle': 'freelance matte painter / concept artist',
        'url': 'https://andreikhrutskii.artstation.com/'
    },
    {
        'modifier': 'c3 r2',
        'image': 'assets/images/gallery/ilmari-kumpunen/1.webp',
        'alt': 'Artwork by Ilmari Kumpunen',
        'author': 'Ilmari Kumpunen',
        'jobtitle': 'Associate Art Director at Housemarque',
        'url': 'https://www.artstation.com/ilmarik'
    },
    {
        'modifier': 'c4 r2',
        'image': 'assets/images/gallery/jan-sarbort/1.webp',
        'alt': 'Artwork by Jan Šarbort',
        'author': 'Jan Šarbort',
        'jobtitle': 'Concept Artist',
        'url': 'https://www.artstation.com/jansarbort'
    },
    {
        'modifier': 'c1 r3',
        'image': 'assets/images/gallery/jeff-lange/1.webp',
        'alt': 'Artwork by Jeff Lange',
        'author': 'Jeff Lange',
        'jobtitle': 'Digital Artist / Photographer',
        'url': 'https://twitter.com/jefftml'
    },
    {
        'modifier': 'c2 r3',
        'image': 'assets/images/gallery/maximilian-schiller/1.webp',
        'alt': 'Artwork by Maximilian Schiller',
        'author': 'Maximilian Schiller',
        'jobtitle': 'Concept Artist and Illustrator',
        'url': 'https://www.artstation.com/maxschiller'
    },
    {
        'modifier': 'c3-4 r3',
        'image': 'assets/images/gallery/jonas-fornerod/1.webp',
        'alt': 'Artwork by Jonas Fornerod',
        'author': 'Jonas Fornerod',
        'jobtitle': 'Digital artist / Photographer / Graphic Designer',
        'url': 'https://www.artstation.com/jonasfornerod'
    },
    {
        'modifier': 'c1-2 r4',
        'image': 'assets/images/gallery/dominick-critelli/1.webp',
        'alt': 'Artwork by Dominick Critelli',
        'author': 'Dominick Critelli',
        'jobtitle': 'Freelance Illustrator',
        'url': 'https://www.artstation.com/dominickcritelli'
    },
    {
        'modifier': 'c3 r4',
        'image': 'assets/images/gallery/wolfgang-pereira/1.webp',
        'alt': 'Artwork by Wolfgang Pereira',
        'author': 'Wolfgang Pereira',
        'jobtitle': '',
        'url': 'https://wolfgangps-blog.tumblr.com/'
    },
    {
        'modifier': 'c4 r4',
        'image': 'assets/images/gallery/noely-ryan/1.webp',
        'alt': 'Artwork by Noely Ryan',
        'author': 'Noely Ryan',
        'jobtitle': 'Concept Art | DMP',
        'url': 'https://www.artstation.com/enor'
    }
] %}
<div class="gallery block" id="gallery">
    <h2 class="gallery__title">Who is using our addons?</h2>

    <div class="gallery__grid">
        {% for tile in gallery_tiles %}
            <figure class="gallery__tile gallery__tile--{{ tile.modifier|replace({' ': ' gallery__tile--'}) }}">
                <a class="gallery__tile-link" href="{{ tile.url }}" target="_blank" rel="noreferrer" aria-label="Artwork by {{ tile.author }}">
                    <img src="{{ tile.image }}" alt="{{ tile.alt }}">
                </a>
                <figcaption class="gallery__tile-caption">
                    <span class="gallery__tile-eyebrow">Artwork by</span>
                    <a class="gallery__tile-author" href="{{ tile.url }}" target="_blank" rel="noreferrer">{{ tile.author }}</a>
                    <span class="gallery__tile-role">{{ tile.jobtitle }}</span>
                </figcaption>
            </figure>
        {% endfor %}

        <div class="gallery__cta">
            <div class="gallery__cta-title">Lets showcase your work</div>
            <button class="gallery__cta-link" type="button">Submit artwork &#8594;</button>
        </div>
    </div>
</div>
